.login-form{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: auto;
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
    background-color: var(--secondary-background-color);
}
.login-form-item{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    color: var(--primary-text-color);
    margin-bottom: 10px;
}
form input{
    width: auto;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: var(--background-color);
}
.login-form-button{
    width: auto;
    margin-top: 10px;
}