.chatComponent {
    padding: 10px;
    background-color: var(--chat-background-color);
    border: 1px solid var(--border-color);
    color: var(--primary-text-color);
    border-radius: 4px;
    cursor: pointer;
    margin: 10px;
}

.chatComponent:hover {
    background-color: var(--secondary-chat-background-color);
}