.chatPage {
    display: flex;
    height: 100%;
    width: 100%;
    background-color: var(--background-color);
}

.chatList {
    flex: 1;
    overflow-y: auto;
    border-right: 1px solid var(--border-color);
    background-color: var(--secondary-background-color);
}

.messageList {
    flex: 2;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
    background-color: var(--background-color);
}

.messageList form {
    width: 100%;
    padding: 10px;
    border-top: 1px solid var(--border-color);
}