.message {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

.message.user {
    width: 50%;
    background-color: var(--message-color);
    color: var(--primary-text-color);
}

.message.assistant {
    width: 50%;
    background-color: var(--chat-message-color);
    color: var(--primary-text-color);
}

.message.admin {
    width: 50%;
    text-align: right;
    align-self: flex-end;
    background-color: var(--message-color);
    color: var(--primary-text-color);
}