.app-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.app-header{
  height: 8vh;
}

.app-content{
  height: 92vh;
  display: flex;
  flex-direction: column;
}

.app-content > * {
  flex-grow: 1;
}