:root {
    --background-color: #3b3937;
    --secondary-background-color: #2f2f2f;
    --chat-background-color: #3b3937;
    --secondary-chat-background-color: #8774e1;
    --border-color: #2c2f33;
    --primary-text-color: #ffffff;
    --secondary-text-color: #b9bbbe;
    --header-color: #212020;
    --message-color: #2f2f2f;
    --chat-message-color: #8774e1;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--secondary-background-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary-text-color);
    border-radius: 20px;
    border: 3px solid var(--secondary-background-color);
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--primary-text-color) var(--secondary-background-color);
}